<mat-toolbar color="primary">
    <mat-toolbar-row>
     <span>SIAR</span>
     <span class="espaco"></span>
      <span><a [routerLink]="[ '/']" ><mat-icon>home</mat-icon>
      </a></span>
    </mat-toolbar-row>