
  <button mat-raised-button color="primary"><a [routerLink]="['/cadastro']">Cadastro</a></button>
  <mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busca">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <!-- Name Column -->
    <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let row">{{row.nome}}</td>
      </ng-container>
    <!-- Id Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>E-MAIL</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>
  <!-- função Column -->
    <ng-container matColumnDef="funcao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Função</th>
      <td mat-cell *matCellDef="let row">{{row.funcao}}</td>
    </ng-container>  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
